.vscode/**
.vscode-test/**
src/**
scripts/**
test/**
**/*.ts
**/*.map
**/tsconfig*.json
**/.eslintrc*
**/.editorconfig
**/.prettierrc*
**/.gitignore
**/.gitattributes
**/.git/**
**/.github/**
node_modules/**
package-lock.json
yarn.lock
*.vsix
.npmrc
media/icon.svg
